html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cards-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:30px;
}
.first-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bubble-text{
    background-color: black;
    width: 80%;
    height: 40%;
    border: 1px solid black;
    border-radius:15px;
    color:white;
    text-align: left;
    padding: 10px;
}

.first-card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.triangle{
    border-top: 15px solid black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.not-triangle{
    height: 15px;
    width: 200px;
    background-color: transparent;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 70%;
}

.avatar-placeholder{
    height:70px;
    width:70px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.first-presentation-wrapper,.second-presentation-wrapper{
    display: flex;
    flex-direction: column; 
    align-items: start; 
    justify-content:center;
    height: 100%;
}

.first-card-name,.first-card-position,.second-card-name,.second-card-position{
    margin: 0;
}

.second-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second-card{
    height: 80%;
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.second-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.third-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.third-card-avatar-wrapper{
    display: none;
}

.third-card-avatar-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third-card-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

.third-card-avatar-wrapper-mobile{
    width:20%;
    height: 65px;
    overflow: hidden;
    border-radius: 10px;
}

.third-card-avatar-wrapper-mobile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third-card-info-wrapper{
    height: 60%;
    width: 90%;
    color:white;
    background-color: black;
    border: 1px solid black;
    border-radius:10px;
}

.starts{
    display:flex;
    gap:5px;
}

.star{
    font-size:30px;
    color:gold;
}

.third-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.fourth-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-card{
    height: 100%;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 10px 10px;
}

.fourth-card-text-container{
    text-align: left;
}

.fourth-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fourth-card-img-wrapper-main{
    overflow: hidden;
    border-radius: 50%;
    height: 50px;
}

.fourth-card-img-wrapper-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fourth-card-img-wrapper{
    overflow: hidden;
    border-radius: 50%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

.fourth-card-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.fourth-card-button{
    border: none;
    background-color: transparent;
    color:black;
    font-size: 30px;
}

.name-container h4{
    margin: 10px auto;
}

@media(min-width:750px) {
    .cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .first-card-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:40%;
        height: 100%;
    }
    .first-card-info{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items:center;
        width:80%;
        gap: 10px;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .first-card-position{
        font-size: 11pt;
        margin:0;
    }
    .second-card-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;
    }
    .third-card-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
        width: 60%;
        gap:20px;
    }
    .third-card-avatar-wrapper-mobile{
        display: none;
    }
    .third-card-avatar-wrapper{
        width:40%;
        overflow: hidden;
        border-radius: 10px;
        display: block;
    }
    
    .third-card-avatar-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .third-card-upper{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        padding: 0 20px;
        width: 60%;
    }
    .fourth-card-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .fourth-card-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
}

@media(min-width:950px){
    .cards-container{
        max-width: 1200px;
    }
    .first-card-wrapper,.second-card-wrapper{
        max-width: 400px;
    }
    .first-card-info{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items:center;
        width:70%;
        gap: 10px;
    }
    .second-card-footer{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 15px;
    }
    .third-card-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
        width: 50%;
        gap:20px;
        max-width: 600px;
    }
    .third-card-avatar-wrapper{
        width:30%;
        overflow: hidden;
        border-radius: 10px;
        display: block;
    }
    
    .third-card-avatar-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .third-card-upper{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        padding: 0 20px;
        width:40%;
        height: 100%;
    }

    .fourth-card-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .fourth-card-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    
}