.cards-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:30px;
}
.first-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bubble-text{
    background-color: black;
    width: 80%;
    height: 40%;
    border: 1px solid black;
    border-radius:15px;
    color:white;
    text-align: left;
    padding: 10px;
}

.bubble-footer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: start;
}

.triangle{
    border-top: 15px solid black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.not-triangle{
    height: 15px;
    width: 200px;
    background-color: transparent;
}

.first-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 80%;
}

.avatar-placeholder{
    height:70px;
    width:70px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.presentation-wrapper{
    display: flex;
    flex-direction: column; 
    align-items: start; 
    justify-content:center;
    height: 100%;
}

.first-card-name,.first-card-position,.second-card-name,.second-card-position{
    margin: 0;
}

.second-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second-card{
    height: 80%;
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.second-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.third-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.third-card-avatar-wrapper{
    height:40%;
    width:20%;
    overflow: hidden;
    border-radius: 10px;
    display: none;
}

.third-card-avatar-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third-card-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

.third-card-avatar-wrapper-mobile{
    width:20%;
    height: 65px;
    overflow: hidden;
    border-radius: 10px;
}

.third-card-avatar-wrapper-mobile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third-card-info-wrapper{
    height: 60%;
    width: 90%;
    color:white;
    background-color: black;
    border: 1px solid black;
    border-radius:10px;
}

.starts{
    display:flex;
    gap:5px;
}

.star{
    font-size:30px;
    color:gold;
}

.third-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}